<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TalkItOut</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <!-- <link rel="Stylesheet" type="text/css" href="Stylesheet01.css"> -->
    <link rel="Stylesheet" href="{{ url_for('static', filename='Stylesheet01.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

   
</head>
<body>
 
<!--Navbar-->
    <nav>
        <div class="navbar">
        <div class="logo"><a href="#">Talk-it-Out.</a></div>
        <ul class="menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#services">About the team</a></li>
            <li><a href="#contact">Join us</a></li>
            <div class="cancel-btn">
                <i class="fas fa-times"></i>
            </div>
        </ul>
        <div class="media-icons">
            <a href="https://discord.gg/Xs6jXbcb"><i class="fab fa-discord"></i></a>
            <a href="https://chat.whatsapp.com/JLJVULcL5f3Iv8U3WdS5Wv"><i class="fab fa-whatsapp"></i></a>
        </div>
        </div>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </nav> 

<!--Home Section Start-->
    <section class="home" id="home">
  <div class="home-content">
      <div class="text">
          <div class="text-one">Hello, My Name Is</div>
          <div class="text-two">NIMBUS2000</div>
          <div class="text-three">I can be your <span class="typing"></span></div>
          <div class="text-four">but a little less than Jarvis</div>
  </div>
  <div class="button2">
      <button>Use me</button>
      </div>
  </div>
    </section>
<!--Chat-bot-->
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Nimbus2000</h4>
                    <p class="chatbox__description--header">Hii, How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="https://raw.githubusercontent.com/iRitvik/ChatBotWebApp/d6fc23c9099dc07a31c70075ccc00ae1e8a2d9a3/chatbox-icon.svg?token=AQ5EQUAL7X3RR6CP76D7QS3CBANHU" /></button>
        </div>
    </div>
</div>
<!--About Me-->
<section class="about" id="about">
    <div class="content">
        <div class="title"><span>About Me</span></div>
        <div class="about-details">
            <div class="left">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs-HVC7hH4nd8U0Oe7gxRgLqS6IwfoCHKqQA&usqp=CAU" alt="Bot-logo">
            </div>
            <div class="right">
                <div class="topic">Need a friend? I am right here!!!</div>
                <p>Just the way harry potter got his support from his nimbus2000, I am right here to provide you
                    guys the support we all deserve. You ever wanna talk about feelings you'll find me right here.
                    I can be your personal diary who will keep encouraging you at every point of life. And just how bestfriend works
                    I can ever recommend you amazing movies ,series ,songs or even games. For your every problem I can be your solution.
                </p>
            </div>
        </div>
    </div>
    </section>

<!--About Us-->
    <section class="services" id="services">
        <div class="content">
            <div class="title"><span>About the Team</span></div>
            <div class="boxes">
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-paint-brush"></i>
                    </div>
                    <div class="topic">Ritvik Rana</div>
                    <p>Hey!! I am Btech cse Student from Amity University. My hobbies are singing , coding and reading books</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-desktop"></i>
                    </div>
                    <div class="topic">Ayush Verma</div>
                    <p>Hey!! I am Btech cse Student from Amity University. My hobbies are gaming , reading books and trading into stocks and crypto</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <div class="topic">Shreya Singh</div>
                    <p>Hey!! I am Btech ece Student from Jaypee University. My hobbies are Bhangra , Singing and Coding</p>
                </div>
            </div>
        </div>
        </section>

<!--Contact Me Section Start-->
    <section class="contact" id="contact">
    <div class="content">
        <div class="title"><span>Get In Touch</span></div>
        <div class="text">
            <div class="topic">Wanna join the crew?</div>
            <p>We can always appreciate a little contribution from you guys too.
                Together we all can fight back these mental problems.
                Here's a link to join our Discord channel. Where you can talk to other members of our team. 
            </p>
                <div class="button">
                    <button><a href="https://discord.gg/Xs6jXbcb">Join Us now</a></button>
                </div>
        </div>
    </div>
    </section>

<!--Footer Section Start-->
    <footer>
    <div class="text">
        <span>Created By <a href="#">Team Gryffindor</a> | &#169; 2022 All Rights Reserved.</span>
    </div>
    </footer>


<script src="script1.js"></script>
<!-- <script src="./app.js"></script> -->
<!-- <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script> -->
<script type="text/javascript" src="{{ url_for('static', filename='script1.js') }}"></script>

</body>
</html>